<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h3>1. Let's build a UI</h3>
    <img width="75%" src="../assets/create-a-gist.png">
    <ul>
      <li>Use any online reference</li>
      <li>Pull in dependencies you feel comfortable with</li>
    </ul>
    <h3>2. Insert your work below</h3>
    <h3>3. Considerations</h3>
    <ul>
      <li>Code Sharing?</li>
      <li>Testing (Unit and Integration)?</li>
      <li>Hoisting State Globally?</li>
      <li>Managing CSS?</li>
      <li>(Optional) Why did you choose the dependencies you did? Considerations?</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Exercise",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h3 {
  margin: 24px 0 0;
}
.inline-list {
  list-style-type: none;
  padding: 0;
}
.inline-list__item {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
