<template>
  <div id="app">
    <img width="240px" src="./assets/logo.png">
    <Exercise msg="Welcome to Crossbeam Engineering"/>
  </div>
</template>

<script>
import Exercise from "./components/Exercise";

export default {
  name: "App",
  components: {
    Exercise
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
